.myDiv {
    padding-bottom: 50px;
    text-align: center;
}

img {
    margin: auto;
    max-width: 300px;
    max-height: 400px;

}

hr {
    color: azure;
    width: 80%;
    border: 1px;
}

h4,
p,h3 {
    max-width: 70%;
    text-align: center;
    margin: auto;
    padding: 5px 0;
}

details {
    padding-top: 20px;
    max-width: 50%;
    margin: auto;
}
details p{
    font-size: medium;
}